.pageHeader {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.headerImage {
  width: 8em;
  margin-right: 1em;
}

.heading {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
}

.chatList {
  list-style: none;
  margin-top: 2em;
}

.chatItem {
  border-radius: 1em;
  transition: 0.3s;
}

.chatItem:hover,
.chatItem:active {
  background-color: var(--color-secondary);
}

.chatItemLink {
  display: grid;
  grid-template-columns: 4em 1fr 5em;
  padding: 2em 1em;
  grid-gap: 1em;
  font-size: 0.8rem;
  position: relative;
  text-decoration: none;
}

.chatItemImage {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  object-fit: cover;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.chefName {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-black);
}

.message {
  color: var(--color-gray);
}

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: var(--color-gray);
}

.notification {
  background-color: var(--color-primary);
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-white);
}

.underline {
  width: 70%;
  height: 1px;
  background-color: var(--color-message-underline);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
