.btnUpdateContainer {
  text-align: right;
}

.btnUpdateContainer::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--color-secondary);
  height: 16rem;
  z-index: -1;
  border-radius: 0 0 3em 3em;
}

.btnUpdate {
  background-color: var(--color-pink);
  color: var(--color-white);
  border: none;
  outline: none;
  font-family: 'Merriweather', serif;
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.btnUpdate:hover {
  transform: scale(1.1);
}

.contentContainer {
  text-align: center;
  margin-top: 2em;
}

.chefImage {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}

.name {
  margin-bottom: 0.5em;
}

.categories {
  margin-bottom: 1em;
  color: var(--color-gray);
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.tabsContainer {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foodImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.foodImageContainer::after {
  content: '';
  height: 80%;
  background-color: var(--color-secondary);
  position: absolute;
  top: 50%;
  left: -20px;
  right: -20px;
  transform: translateY(-50%);
  z-index: -1;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.foodImage {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5em;
}

.description {
  font-size: 0.9rem;
}
