.heading {
  font-size: 1.8rem;
  font-family: 'Merriweather', serif;
  margin-bottom: 1em;
}

.filterContainer {
  margin-top: 1em;
  list-style: none;
  display: flex;
  align-items: center;
}

.btnFilter {
  background-color: transparent;
  border: 1px solid var(--color-gray);
  padding: 0.35em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
}

.btnFilter:hover {
  color: var(--color-pink);
  border: 1px solid var(--color-pink);
}

.btnSelect {
  border: 1px solid var(--color-gray);
  border-radius: 0.3em;
  padding: 0.2em;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

.btnCategories {
  background-color: transparent;
  border: 1px solid var(--color-gray);
  padding: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: 0.4s;
}

.btnFilter:hover,
.btnFilter:active,
.btnCategories:hover,
.btnCategories:active,
.btnSelect:hover,
.btnSelect:active {
  color: var(--color-pink);
  border: 1px solid var(--color-pink);
}

.item:not(:last-child) {
  margin-right: 0.5em;
}

.cardsContainer {
  list-style: none;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

@media only screen and (min-width: 300px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}
