.checkbox {
  display: none;
}

.label {
  width: var(--width-btn-toggle);
  height: var(--width-btn-toggle);
  border-radius: 50%;
  position: fixed;
  top: 0.75em;
  right: 1em;
  background-color: var(--color-primary);
  z-index: 20;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: relative;
  opacity: 1;
}

.line::before,
.line::after,
.line {
  width: var(--width-toggle-icon);
  height: 2px;
  background-color: var(--color-white);
  display: inline-block;
  transition: 0.2s;
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  left: 0;
}

.line::before {
  top: -0.4em;
}

.line::after {
  top: 0.4em;
}

.checkbox:checked + .label .line {
  background-color: transparent;
}

.checkbox:checked + .label .line::before,
.checkbox:checked + .label .line::after {
  top: 0;
}

.checkbox:checked + .label .line::before {
  transform: rotate(45deg);
}

.checkbox:checked + .label .line::after {
  transform: rotate(-45deg);
}

.navBackground {
  width: var(--width-btn-toggle-bg);
  height: var(--width-btn-toggle-bg);
  border-radius: 50%;
  position: fixed;
  top: 1em;
  right: 1.25em;
  background-color: var(--color-primary);
  z-index: 10;
}

.nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 15;
}

.navList {
  list-style: none;
}

@media only screen and (min-width: 600px) {
  .label {
    right: 2em;
  }

  .navBackground {
    width: var(--width-btn-toggle-bg);
    height: var(--width-btn-toggle-bg);

    right: 2.25em;
  }
}

@media only screen and (min-width: 900px) {
  .label {
    display: none;
  }

  .navBackground {
    display: none;
  }
}
