.btnOrange {
  margin-top: 2em;
  border: none;
  outline: none;
  background-color: var(--color-primary);
  font-size: 0.8rem;
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.4s;
}

.btnOrange:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 1000px) {
  .btnOrange {
    font-size: 0.9rem;
  }
}
