.item:not(:last-child) {
  margin-right: 2em;
}

.btnTab {
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
  font-size: 1.1rem;
}

.btnTab::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--color-pink);
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  transform: scaleX(0);
}

.btnTab:hover::after {
  transform: scaleX(1);
}

.btnTab:hover {
  color: var(--color-pink);
}
