.btnUpload {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.4em;
  transition: 0.4s;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnUpload:hover,
.btnUpload:active {
  background-color: var(--color-pink);
}

@media only screen and (min-width: 600px) {
  .btnUpload {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .btnUpload {
    width: 2.5rem;
    height: 2.5rem;
  }
}
