*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #f8b71c;
  --color-secondary: #fff8ee;
  --color-pink: #fe8a7e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgb(150, 149, 149);
  --color-message-underline: rgba(0, 0, 0, 0.2);
  --width-btn-toggle: 2em;
  --width-toggle-icon: 1em;
  --width-btn-toggle-bg: 1.5em;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* font-family: 'Merriweather', serif; */
