.btnViewMore {
  text-decoration: none;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  transition: 0.3s;
}

.btnViewMore:hover,
.btnViewMore:active {
  transform: scale(1.1);
}

.arrowIcon {
  margin-left: 0.5em;
  background-color: var(--color-primary);
  padding: 0.2em;
  font-size: 1.2rem;
  border-radius: 0.2em;
  color: var(--color-white);
}
