.navItem {
  font-family: 'Merriweather', serif;
}

.navItem:not(:last-child) {
  margin-bottom: 1em;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
}

.itemLogo {
  margin-right: 1em;
  display: inline-block;
}
