.list {
  list-style: none;
  display: flex;
  align-items: center;
}

.item {
  font-size: 0.9rem;
}

.item:not(:last-child) {
  margin-right: 0.5em;
}

.filled,
.fill {
  color: var(--color-primary);
}
