.listItem {
  font-size: 1.1rem;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  transition: 0.4s;
}

.listItem:hover {
  transform: scale(1.2);
}

.listItem:not(:last-child) {
  margin-bottom: 1em;
}

.link {
  text-decoration: none;
  color: var(--color-pink);
}

.icon {
  margin-right: 0.5em;
}
